<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreampany.word"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.TETHER_PRIVILEGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"
        tools:node="remove" />

    <application
        android:name="com.dreampany.word.app.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.App"
        tools:replace="android:allowBackup, android:label"
		tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity
            android:name="com.dreampany.word.ui.activity.LaunchActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dreampany.word.ui.activity.LoaderActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout">
        </activity>

        <activity
            android:name="com.dreampany.word.ui.activity.NavigationActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.dreampany.word.ui.activity.ToolsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.dreampany.framework.ui.activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout"
            android:screenOrientation="sensor" />

	    <service
            android:name=".service.NotifyService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>
</manifest>
